<div class="container">
        <div class="row">
            <main class="col-md-12">
                <div class="content-section">
                    <h2>Introduction</h2>
                    <p>Hello! I am Claude Kaiser Espanillo, a student in the Business Information Technology program. My student ID is 151882230. A little info about me is I am into gaming but also anything that is related to computer and
                        technology. I also have a special skill where I can learn any programming language efficiently but somehow can't learn french. I also love playing the guitar which is also my way of relieving stress from programming.</p>
                </div>
            </main>
        </div>
    </div>